<div class="input-group" ng-hide="convm.isEditing || convm.isEmpaty()">
    <label type="text" class="lead-contact form-control" 
      ng-mouseenter="convm.showEdit()" ng-mouseleave="convm.hideEdit()">
      {{convm.contact.name || 'Unnamed'}}
      <button ng-show="convm.canEdit" ng-click="convm.edit()" class="btn btn-xs pull-right" title="Edit this contact"><span class="glyphicon glyphicon-pencil blue-font"></span></button>
    </label>
    <div class="input-group-btn" role="group" aria-label="...">
      <button type="button" class="btn btn-default" ng-disabled="!convm.canCall()" title="Call {{convm.contact.phone}}"><span class="glyphicon glyphicon-earphone"></span></button>
      <button type="button" class="btn btn-default" ng-disabled="!convm.canEmail()" title="Email {{convm.contact.email}}" ng-click="convm.beginEmail()"><span class="glyphicon glyphicon-envelope"></span></button>
    </div>
</div>

<form class="contacts-form list-group-item" ng-show="convm.isEditing">
    <div class="form-group">
      <label for="contact-name">Name</label>
      <input type="text" class="form-control" name="contact-name" placeholder="" ng-model="convm.contact.name" focus="{{convm.isEditing}}" ng-disabled="convm.saving || convm.deleting">
    </div>
    <div class="form-group">
      <label for="contact-title">Title</label>
      <input type="text" class="form-control" name="contact-title" placeholder="" ng-model="convm.contact.title" ng-disabled="convm.saving || convm.deleting">
    </div>
    <div class="row contact-chanel-list">

      <div class="contact-channel-item row">
        <div class="form-inline bottom5" ng-repeat="conChanel in convm.contact.contactChannels">
          <div class="form-group" id="{{conChanel.uuid}}">
            <input type="text" class="form-control input-sm" placeholder="Phone, email or URL" ng-model="conChanel.name" focus="{{conChanel.isEditing}}">
            <select class="form-control input-sm" ng-model="conChanel.type">
              <option value="Office">Office</option>
              <option value="Mobile">Mobile</option>
              <option value="Home">Home</option>
              <option value="Direct">Direct</option>
              <option value="Fax">Fax</option>
              <option value="URL">URL</option>
              <option value="Other">Other</option>
            </select>
            <button tabindex="-1" type="button" class="btn btn-sm" ng-click="convm.deleteChannel(conChanel)"><span class="glyphicon glyphicon-remove"></span></button>
          </div>
        </div>
      </div>

      <div class="contact-chanel-tools">
        <a href="#" ng-click="convm.newChannel()"><span class="glyphicon glyphicon-plus"></span> Add phone/email</a>
      </div>
    </div>
    
    <div class="row">
      <div class="form-group text-left col-md-5">
          <button type="button" class="btn btn-danger" ng-click="convm.delete()" ladda="convm.deleting" ng-disabled="convm.saving" ng-if="convm.canDelete()"><span class="glyphicon glyphicon-trash"></span></button>
      </div>
      <div class="form-group text-right col-md-7">
          <button type="button" class="btn btn-default" ng-click="convm.cancle()" ng-disabled="convm.saving || convm.deleting">Cancle</button>
          <button type="button" class="btn btn-primary" ladda="convm.saving" data-style="zoom-out" ng-disabled="convm.deleting" ng-click="convm.save()">Save</button>
      </div>
    </div>
</form>