<h1>{{vm.title}}</h1>

<div class="results-count pull-left bottom10">{{vm.leadResults.length}} total results</div>

<div class="search-tools pull-right">
	
</div>

<div class="lead-results">
	<table st-table="vm.leadResults" 
		   class="table table-bordered table-condensed table-hover">
		<thead>
			<tr>
				<th>Company</th>
				<th title="Email" class="col-email text-center"><span class="glyphicon glyphicon-envelope"></span></th>
				<th title="Call" class="col-call text-center"><span class="glyphicon glyphicon-earphone"></span></th>
				<th>Contacts</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr st-select-row="row" ng-repeat="row in vm.leadResults">
				<td ng-click="vm.showLead(row)" class="cursor-pointer">
					<a ng-href="/leads/{{row._id}}">{{row.company}}</a>
				</td>
				<td>
					<button type="button" class="btn btn-sm" ng-disabled="row.email === ''" title="{{row.email}}" 
						ng-click="vm.beginEmail(row)">
						<i class="glyphicon glyphicon-envelope"></i>
					</button>
				</td>
				<td>
					<button type="button" class="btn btn-sm" ng-disabled="row.phone === ''" title="{{row.phone}}">
						<i class="glyphicon glyphicon-earphone"></i>
					</button>
				</td>
				<td>{{row.contacts | formatContacts}}</td>
				<td>{{row.status}}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<div st-pagination="" st-items-by-page="vm.itemsByPage" st-displayed-pages="7"></div>
				</td>
			</tr>
		</tfoot>
	</table>
</div>